.spot-marker {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
   /* background-color: #000;*/
   /* border: 2px solid #fff;*/
   /* border-radius: 100%;*/
    user-select: none;
    transform: translate(-50%, -50%);
    background-image: url('/home/austin/projects/fish-in-sight/fish-in-sight-frontend/src/spotMarkerDarkBlue.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
  }
  .spot-marker:hover{
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
  }

  .Catch-marker{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    /*background-color: #0000;*/
   /* border: 2px solid #fff;*/
    border-radius: 100%;
    user-select: none;
    transform: translate(-50%, -50%);
    background-image: url('/home/austin/projects/fish-in-sight/fish-in-sight-frontend/src/catchMarkerGreen.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
  }

  .marker-catch-div{
    text-align: center;
    border:solid springgreen 2px;
    border-radius: 5px;
    width:120px;
    height: 120px;
    background-color: white;
  }
  .marker-catch-div img{
    max-width: 120px;
    max-height: 120px;
    background-color: white;
  }

  :hover {

    z-index: 1;
  }

  .marker-name-div{
    position: absolute;
    color: black;
   
    text-align: center;
    top: -22px;
    left: 80px;
    width: 100px;
    height: 33px;
   /* background-color: rgba(24, 11, 145, 0.4);*/
   background-color:rgb(255, 253, 253);
    border: 1px solid black;
    border-radius: 5px;
    user-select: none;
    transform: translate(-50%, -50%);
  }