@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');

*{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

a{
  text-decoration: none;
}

/*
#home-page{
  background-image: url("/home/austin/projects/fish-in-sight/fish-in-sight-frontend/src/fishing-sunset-orange.jpg");
  background-size: 80%;
  background-repeat: no-repeat;
}
*/

.log-container{
  width: 333px;
  position:relative;
  margin: auto;
  margin-top: 63px;

}

.reg-container{
  width: 333px;
  position:relative;
  margin: auto;
  margin-top: 63px;  
}

.error{
  color: red;
}
.nav-bar-container{
    margin: 0%;
    border-bottom: 1px solid black;
    height: 54px;
    font-size: 21px;
    padding: 8px 22px 8px 22px;
    align-items: center;

    border: solid black 1px;


    /*width: 96%;*/
    height: 300px;
   
  background-image: url('/home/austin/projects/fish-in-sight/fish-in-sight-frontend/src/carpingrass.jpg');
  background-size: cover;
  position: relative;
  background-position: 0px -20px;
  color: orange;
}

.nav-bar-container:after {
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
   /* background:linear-gradient(to top,red 20%,transparent 80%);*/
   background-color: rgba(120,120,120,0.6);
   }

.nav-link{
    position: absolute;
    padding-right: 8px;
    padding-left: 8px;
    border-right: 1px solid black;
    color: papayawhip;
    
    z-index: 22;
}
.nav-link:hover{
  color: orange;
}

.right-1{
right: 100px;
}

.right-2{
  right: 0px;  
}

.nav-center{
    color: seashell;
    width: 270px;
    position: relative;
    margin-top: 133px;
    margin-left: auto;
    margin-right: auto;
    z-index: 22;
    border-bottom: 1px solid rgba(0,0,0,0.8);
}


.nav-link:hover{
    border-bottom: 1px solid rgba(0,0,0,0.8);
}

.nav-bar-container a{
    text-decoration: none;
}
.right{
    float: right;
}
hr.solid {
    border-top: 3px solid #bbb;
    width: 100px;
    margin-left: 0px;
  }

  .user-name{
      font-size: 27px;
  }
  .user-componenet{
    position: relative;
  }

  .user-page-image{
    max-width: 100px;
    float: left;

  }
  .user-home-info-box{
    position: absolute;
    margin-left: 33px;
    margin-top: 33px;
    width: 300px;
    height: 200px;
    border: solid rgb(155, 155, 160) 2px;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px rgb(128, 128, 133, 0.4);
  }
  .u-box-1{
    
    width: 100px;
    float: left;
  }
  .u-box-2{
    
    width: 200px;
    float: right;

  }


  .user-edit-form{
    text-align: center;
    width: 700px;
    margin: auto;
  }

  .user-image-preview-div{
    position: relative;
    width: 200px;
    height: 200px;
    border: solid black 1px;
    margin: auto;
  }
  .user-image-preview-div img{
    max-width: 200px;
    max-height: 200px;
    border: solid black 1px; 
  }

.user-image-preview-div:hover{
 cursor: pointer;
}

.image-preview-delete-button:hover {
  cursor: pointer;
  display: block;
}

  .user-image-preview-div:hover > .image-preview-delete-button{
    display: block;
  }



  .dashbaord-div{

    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
  }

  .bait-input-div{
    margin: auto;
    width: 471px;
    height: 300px;
    color: papayawhip;
    border: solid orange 1px;
    background-image: url('/home/austin/projects/fish-in-sight/fish-in-sight-frontend/src/hopperknot.jpg');
    background-size: 161%;
    background-repeat: no-repeat;
    position: relative;
    background-position: -39px -180px;
  }

  .bait-input-form{
    width: 180px;
    height: 290px;
    margin-left: 4px;
    margin-top: 4px;
    align-content: center;
    background-color: rgba(0,0,0,0.3);
  }
  .new-catch-div{
      text-align: center;
      margin: auto;
      width: 700px;
      height: 500px;
      color: papayawhip;
      border: solid orange 1px;
      background-image: url('/home/austin/projects/fish-in-sight/fish-in-sight-frontend/src/lures02.jpg');
      background-size: cover;
  }

  .new-catch-div h2{
      font-size: 30px;
      width: 309px;
      margin: auto;
      background-color:  rgba(0,0,0,0.3);
  }




  .catch-input-horizontal-scroll{
    position: relative;
    width: 700px;
    height: 500px;
    background-color: rgb(33, 98, 240, 0.4);
    border: solid rgb(33, 98, 240)  1px;
    background-image: linear-gradient(to bottom, rgb(246, 247, 248), rgb(130, 134, 133));
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(682px,1fr));
    grid-auto-flow: column;
    grid-row: 1fr;
    grid-gap: 18px;
    overflow-x: hidden;
   /* overflow-x: auto; */
    scroll-behavior: smooth;
    border-radius: 20px;
  }
  .catch-input-horizontal-scroll  h4, h3{
    margin-top: 3px;
    margin-bottom: 3px;
  }
  .catch-input-horizontal-scroll input{
    border-radius: 5px;
  }

  .catch-input-horizontal-scroll p{
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .input-box-horizontal-scroll{
    /*position: absolute;*/
    vertical-align: middle;
    width: 682px;
    height: 480px;
   
   /* border: solid black 1px;*/
  }
  .outer-box{
    position: relative;
    height: 480px;
  }

  .dot-div{
    position: absolute;
    width: 150px;
    height: 50px;
   left: calc(50% - 75px);
   top: 95%;
   z-index: 33;
  }

  .dot{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: blanchedalmond;
    color: rgb(0,0,0,0);
    transition: transform 400ms;
    top: 1px;
    
  }
  .dot.active{
    transform: translate3d(0em, -0.5em, 0em) ;
   
    width: 15px;
    height: 15px;
    top: -1px;
    
  }
  .d1{
    left: 0px;
  }
  .d2{
    left: 25px;
  }
  .d3{
    left: 50px;

  }
  .d4{
    left: 75px;
  }
  .d5{
    left: 100px;

  }
  .d6{
    left: 125px;
  }
  .d7{
    left: 150px;
  }
  .d8{
    left: 175px;
  }

.slide-title{
  max-width: 300px;
  margin: auto;
  text-align: center;
}
.next-button{
  float: right;
  margin-right: 33px;
  width: 54px;
  height: 27px;
  border: solid black 3px;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  font-weight: bold;
  color: black;
}

.back-button{
  float: left;
  margin-right: 33px;
  width: 54px;
  height: 27px;
  border: solid black 3px;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  font-weight: bold;
  color: black;
}

#file-input{
  width: 220px;
  margin-left: calc(50% - 110px);
}

.lat-lng{
  max-width: 450px;
  margin-left: calc(50% - 180px);
}

  .catch-map{
    position: relative;
    height: 300px;
    width: 450px;
    margin-left: calc(50% - 225px);
  }
  .center-marker{
    position: absolute;
    
    width: 30px;
    height: 30px;
    left: calc(50% - 15px);
    top: calc(50% - 15px);
    /*background-color: rgba(188, 143, 143, 0.514);*/
    background-image: url('/home/austin/projects/fish-in-sight/fish-in-sight-frontend/src/target.png');
    background-size: 30px 30px;

    background-repeat: no-repeat;
    z-index: 33;
  }


.catch-input-description{
  margin-left: calc(50% - 210px);
  margin-top: 100px;
  width: 420px;
  height: 150px;
}

  .new-catch-form{
    
      width: 500px;
      margin: auto;
      text-align: left;
      align-content: center;
      margin-bottom: 27px;
    background-color: rgba(0,0,0,0.3);
  }
  .whaaaaa{
    position: relative;
    float: right;
    
   
  }

  .image-preview-div{

    position: relative;
    left: 50%;
    border: solid black 1px;
    max-width:340px;
    max-height: 340px;
    background-color:  rgba(253, 252, 252);
    display: table-cell;
    vertical-align: middle;
    border-radius: 5px;
  }
  .image-preview-delete-button{
    display: none;
    
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 3px;
    background-color: rgba(253, 252, 252);
    background-position: 10px, 10px ;
    z-index: 2;
  }
  
  .catch-img-preview{
    

    max-width:340px;
    max-height: 330px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .catch-img-preview:hover{
    cursor: pointer;
  }
  
  .image-preview-delete-button:hover {
    cursor: pointer;
    display: block;
  }

  #species-search-ul{
    max-height: 270px;
    overflow: auto;
    list-style: none;
  }

  .species-seacrh-li{

  }
  
  
  .image-preview-div:hover > .image-preview-delete-button{
    display: block;
  }

.new-catch-selected-attributes-box{
  margin-top: 230px;
  text-align: center;
 
}

.new-catch-selected-attributes-box > h3 {
  margin: 2px;
}
.ncsab-species{

}





  .catch-list-side-panel{
    text-align: center;
   float: right;
    width: 37%;
    height: 90%;
    margin-right: 0px;
    
    border: solid orange 1px;

  }

  .catches-list{
    height: 540px;
    color: papayawhip;
    width: 767px;
    margin-left: 352px;
    border: solid black 1px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.8);
    box-shadow: 0 0 5px 5px rgb(128, 128, 133, 0.4);
  }
  .list-grid{
    
      width: 60%;
      height: 98%;
     
      float:left;
  }

  .list-grid-ul{
    border: solid orange 1px;
    padding-left: 0px;
    padding-top: 3px;
    margin: 6px;
    width: 100%;
    height: 90%; 
    overflow: auto;
    align-content: space-evenly;
  }

  .catches-list li{
    list-style-type: none;
    margin: 0px;
    margin-left:3px;
    margin-top: 6px;
  }

  .catch-li-box{
    display: grid;
    grid-template-columns: 90px calc(100% - 103px);
    grid-template-rows: 1fr;
    grid-gap: 9px;
  }

  .catch-image-box{
     margin-left: 9px
  }


  .info-box{
   border: solid orange 1px;
  
  }
  .info-box a{
    color: papayawhip;
  }

       
             
  
  .catch-image{
    position: relative;
    object-fit: contain;
    border: solid orange 1px;
    background-color: rgb(0,0,0,0.3);
}

/*
.catch-box-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    transition: transform 400ms;
    transform: translate3d(0, calc(100% - 3.5rem), 0) ;
    z-index: 1;
    
    opacity: 0.1;
   
}
*/

.catch-image:hover{
    cursor: pointer;
}






  .dashboard-footer{
      height: 90px;
  }

  .map-box{
    
      width: 600px;
      height: 600px;
      margin: auto;
     

  }

  .map-container{
      
  
    

    display: inline-block;
    height: 440px;
    width: 700px;
    min-width: 500px;
    min-height: 322px;
    margin-left: calc(50% - 350px );
   
    border: solid orange 1px;
  /*
    background-image: url('/home/austin/projects/fish-in-sight/fish-in-sight-frontend/src/boatandseagulls.jpg');
   background-size: cover;
    background-repeat: none;
    position: relative;
    background-position: 0px 0px;
    */
  }

  .map div{
      width: 600px;
      height: 600px;
      margin: auto;
  }

  .react-map{
      position: absolute;
      margin-top: -200px;
      width: 600px;
  }

  .autocomplete-dropdown-container{   
     
      z-index: 33;
  }

  input.location-search-input{
      margin-left: 33%;
      
      margin-bottom: 60px;
     
  }



  .tempStuff{
    font-size: 1em;
  }

  .catch-page{
    width: 600px;
    margin: auto;
    margin-top: 13px;
    text-align: center;
    box-shadow: 0 0 5px 5px rgb(128, 128, 133, 0.4);
  }

  .catch-page > img{
    max-height: 400px;
    max-width: 400px;
    margin-left: calc(50% - 250px);
  }

  .display-banner{
    width: 100%;
    background-color: slategray;
  }
  .global-feed-catches{
  background-color: rgba(0,0,0,0.9);
  color: papayawhip;
  width: 700px;
  margin: auto;
  }

  .global-feed-catches > ul{
    list-style: none;
   
    }

    .aux-nav .selected{
      background-color: salmon;
    }
    .hidden{
      display: none;
    }


    .new-spot-div .input-box{
      width: 300px;
      margin-left: calc(50% - 100px);
    }

    .new-spot-div h2{
      text-align: center;
    }


    /*  FOLLOWING FEED CATCHES  */


    .following-feed-catches{
      width: 500px;
      margin: auto;
    }

    .following-feed-catches > ul{
      list-style: none;
      
    }
    .user-thumb{
      border-top-left-radius: 9px;
      border-bottom-left-radius: 9px;
    }
    .following-feed-catches .post-image{
      width: 180px;
      margin-left: calc(50% - 90px);
    }

    .post-box{
      border: solid rgb(85, 85, 95) 2px;
      border-radius: 9px;
      height: auto;
      background-image: linear-gradient(to right, white, rgb(73, 73, 99, 0.6));
      /*color: rgb(73, 73, 99);*/
      box-shadow: 0 0 5px 5px rgb(128, 128, 133, 0.4);
      margin-top: 12px;
    }

    .pb-div-1{
     /* border: solid red 1px;*/
    }

    .user-banner-1{
      position: relative;
      
      width: 100%;
      height: 55px;
      border: solid rgb(25, 27, 25) 1px;
      border-radius: 9px;
      background-color: whitesmoke;
    }

    .user-banner-1 p{
      position: absolute;
      width: calc(100% - 100px);
      float: right;
      top: 0px;
      margin-top: 0px;
      margin-left: 100px;;
    }

 
